/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.navbar-dark {
  padding:0;
}
.navbar-dark.bg-white {
  background-color: transparent;
}
.navbar-dark .navbar-nav .nav-link {
  background-color: #e8eae6;
  color:#464a55;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight:600;
  margin:10px 0px 10px 0px;
  padding: 6px 10px;
  border-radius: 7px;
  font-size: .870rem;
}
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link.active {
  color: #1e263d;
}
.navbar-dark .navbar-nav .nav-link svg {
  margin-right: 6px;
  color: #fff;
  vertical-align: text-bottom;
}
.navbar-dark .search-input {
  width: 150%;
  height: 42px;
  font-size: 14px;
  letter-spacing:.1px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='14' height='14' viewBox='0 0 64 64'%3E%3Cdefs%3E%3CclipPath id='b'%3E%3Crect width='64' height='64'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='a' clip-path='url(%23b)'%3E%3Cpath d='M67.74,63.867,49.943,45.9a25.363,25.363,0,1,0-3.849,3.9L63.774,67.65a2.739,2.739,0,0,0,3.866.1A2.757,2.757,0,0,0,67.74,63.867ZM30.013,50.019a20.027,20.027,0,1,1,14.165-5.866A19.9,19.9,0,0,1,30.013,50.019Z' transform='translate(-4.496 -4.5)' fill='%23696d86'/%3E%3C/g%3E%3C/svg%3E") no-repeat scroll 18px 13px, #fff;
  padding-left:42px;
  padding-right:20px;
  font-weight: 400;
  line-height: 0;
  border:solid 1px #e9ebf2;
  color: #464a55;
  transition: all 0.3s;
  border-radius: 25px;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.navbar-dark .search-input:hover, .search-input:focus {
  outline: none;
  color: #1e263d;
}
.navbar-dark .search-input::placeholder{
  color:#696d86;
}
@media (max-width: 767.98px) {
  .navbar-dark .search-input {
    width:100%;
    padding-left:42px;
    padding-right: 5px;
  }
  .navbar-dark .search-input::placeholder{

    display: inline-block;
  }
}
/* Dropdownw */
.dropdown {
  
}


.navbar-dark .left-icons {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background: #fbfaf4;
  color:#464a55;
  margin-right: 10px;
}
.navbar-dark .left-icons svg {
  margin-right: 10px;
  color: #727272;
  vertical-align: text-bottom;
}
/*--------------------------------------------------------------
# Navbar Toggler Icon
--------------------------------------------------------------*/
.navbar-dark .navbar-toggler {
	outline: none;
	border: none;
}
.icon-bar {
	width: 22px; 
	height: 2px;
	background-color: #212121;
	display: block;
	transition: all 0.2s;
	margin-top: 4px;
	outline:none;
}
.navbar-toggler {
	outline: none;
	border: none;
	background: transparent !important;
}
.navbar-toggler:hover, .navbar-toggler:focus, .navbar-toggler:active {
	outline: none;
	border: none;
}
.navbar-toggler span.icon-bar {
    transition: all 0.15s;
}
.navbar-toggler span:nth-child(2) {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}
.navbar-toggler span:nth-child(3) {
    opacity: 0;
}
.navbar-toggler span:nth-child(4) {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}
.navbar-toggler.collapsed span:nth-child(2),
.navbar-toggler.collapsed span:nth-child(4) {
    transform: rotate(0);
}
.navbar-toggler.collapsed span:nth-child(3) {
    opacity: 1;
}