@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: .75rem;
}

body {
  user-select: none;
  -moz-user-select: none;
  background: #fff;
  color: #444;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  color: #1bb1dc;
  transition: 0.5s;
}
a:hover, a:active, a:focus {
  color: #0a98c0;
  outline: none;
  text-decoration: none;
}
p {
  padding: 0;
  margin: 0 0 30px 0;
  position:relative;
  margin-top:20px;
  font-size:15px;
  line-height:24px;
  font-weight: 500;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 20px 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-weight:700;
}
/* buttons */
.btn.btn-white {
  text-align: left;
  position: relative;
  padding: 15px 37px;
  font-size: 13px;
  letter-spacing:.1px;
  background: #fff;
  font-weight: 700;
  border:0;
  color: #464a55;
}
.btn.btn-white:hover, .btn.btn-white:active, .btn.btn-white:focus{
  background: #fff;
  color: #1e263d !important;
  outline: none;
  border:0;
  box-shadow:none;
}
.btn.btn-white ion-icon {
  font-size:16px;
  position: absolute;
  top:16px;
}
.btn.btn-green {
  text-align: left;
  position: relative;
  padding: 15px 37px;
  font-size: 13px;
  letter-spacing:.1px;
  background: #cdf564;
  font-weight: 700;
  border:0;
  color: #464a55;
}
.btn.btn-green:hover, .btn.btn-green:active, .btn.btn-green:focus{
  background: #cdf564;
  color: #1e263d !important;
  outline: none;
  border:0;
  box-shadow:none;
}
.btn.btn-green ion-icon {
  font-size:16px;
  position: absolute;
  top:16px;
}
.btn.btn-login {
  text-align: left;
  position: relative;
  padding: 15px 37px;
  font-size: 13px;
  letter-spacing:.1px;
  background: #1b2c3c;
  font-weight: 700;
  border:0;
  color: #fff;
}
.btn.btn-login:hover, .btn.btn-login:active, .btn.btn-login:focus{
  background: #1b2c3c;
  color: #fff !important;
  outline: none;
  border:0;
  box-shadow:none;
}
.btn.btn-login ion-icon {
  font-size:16px;
  position: absolute;
  top:16px;
}
.about {
  background: #fce0dc;
}
.btn-primary {
  text-align: left;
  position: relative;
  padding: 8px 25px;
  font-size: 13px;
  letter-spacing:.1px;
  background: #1b2c3c;
  font-weight: 700;
  border:0;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.btn-primary:hover {
  color: #fff;
  background-color: #1e263d;
  border:0;
  box-shadow: none;
}
.btn-primary:focus, .btn-primary.focus {
  color: #fff;
  background-color: #1e263d;
  border:0;
  box-shadow:none;
}
.btn-primary:active {
  color: #fff;
  background-color: #1e263d;
  border:0;
  box-shadow: none;
}
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #1e263d;
  border:0;
  box-shadow: none;
}
.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  color: #fff;
  background-color: #1e263d;
  border:0;
  box-shadow: none;
}

/*--------------------------------------------------------------
# content
--------------------------------------------------------------*/
.content-title h4 {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  font-size:24px;
  margin-top:2.5rem;
  line-height: 0;
}
.content-description {
  font-size: 13px;
}
/*--------------------------------------------------------------
# cover cards 
--------------------------------------------------------------*/
.genre-cover {
  margin-bottom:1rem;
  width: 100%;
  padding: 13px 30px;
  border-radius: 8px;
  user-select: none;
  -moz-user-select:none;
  transition: opacity .3s;
  color:#f5f5f5;
  text-align: center; 
}
.genre-cover:hover {
  opacity: .8;
  cursor: pointer;
}
.genre-cover.card-1 {
  background-color: #95c0af;
}
.genre-cover.card-2 {
  background-color: #f6ebdb;
}
.genre-cover.card-3 {
  background-color: #e34253;
}
.genre-cover.card-4 {
  background-color: #520625;
}
.genre-cover h5 {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  font-size:20px;
  margin-top:15px;
  line-height: 25px;
  text-overflow: ellipsis;
  overflow: hidden; 
  height: 1.2em; 
  white-space: nowrap;
  text-align: center;
}
.card-cover p {
  font-size:14px;
  line-height: 1px;
}
/*--------------------------------------------------------------
# hero
--------------------------------------------------------------*/
section.circle {
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
  padding:30px 20px;
  background: url(./images/usher.jpg);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  font-family: 'Lato', sans-serif;
  border-radius: 20px;
  color:#1b2c3c;
}
section.circle .circle-content {
  z-index: 1;
  position: relative;
}
section.circle .circle-content h2 {
  font-size:65px;
  font-weight: 900;
  font-family: 'Lato', sans-serif;
}
section.circle .circle-content p {
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  font-size:13px;
}
@media (min-width: 992px) {
  section.circle {
    padding: 50px 50px;
  }
  section.circle .circle-content .circle-heading {
    font-size: 6rem;
  }
  section.circle .circle-content .circle-subheading {
    font-size: 4rem;
  }
}

/*--------------------------------------------------------------
# cards charts
--------------------------------------------------------------*/

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #f5f5f5;
  background-clip: border-box;
  border-radius: 20px;
  padding: 10px;
  border:0;
}
.card-body{
  margin:0;
  padding: 0;
}
.card-img {
  border-radius: 15px;
}
.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-height: 0;
  padding: 0;
}
.card h5 {
  line-height:15px;
  padding: 18px 3px;
  color:#000;
  font-family: 'Open Sans', sans-serif;
  margin:0;
  font-weight: 800;
}
.card p {
  line-height:0px;
  padding: 15px 3px;
  color:#000;
  margin:0;
  font-size: 14px;
}