
/*--------------------------------------------------------------
# Modal
--------------------------------------------------------------*/
.close {
    float: right;
    display: inline;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 0;
    color: #fff;
    text-shadow: 0 1px 0 #fff;
    opacity: .7;
    outline: none;
    margin-right: -75px;
    border:0;
  }
  .close:hover, .close:focus, .close:active {
    color: #fff;
    text-decoration: none;
    border:0;
    outline: 0;
    transform:scale(1.03);
  }
  .modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: none;
    border-radius:8px;
    outline: 0;
  }
  .modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: #000;
  }
  .modal-backdrop.fade {
    opacity: 0;
    transition: all .1s;
  }
  .modal-backdrop.show {
    opacity: 1;
    background:rgba(0,0,0,.65) !important;
    transition: all .3s;
  }
  .modal-header {
    background-color:#1b2c3c;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem;
    border-bottom: none;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
  }
  .modal-header h5 {
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight:600;
    color:#fff;
    font-size:15px;
  }
  .modal-header .close {
    padding: 1rem 1rem;
    margin: -1rem -1rem -1rem auto;
  }
  .modal-title {
    margin-bottom: 0;
    line-height: 1.5;
  }
  .modal-body {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.7rem;
  }
  .modal-body .form-control, textarea {
    background-color: #f5f5f5;
    border:solid 1px #ebebeb;
    border-radius: 3px;
    font-size: 14px;
  }
  .modal-body .form-control:hover, .modal-body .form-control:active, .modal-body .form-control:focus {
    background-color: #f5f5f5;
    border:solid 1px #ebebeb;
    box-shadow: none;
    outline: none;
  }
  .modal-footer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 1rem;
    border-top: none;
    border-radius: 0;
  }
  